@use 'vuetify/settings' with (
  $button-height: 40px,
  // $utilities: false,
  // $color-pack: false
);

@import 'vuetify/styles';
@import './base/reset';
@import './base/ApCreateProduct';
@import './base/AppProductList';
@import './base/AppLoader';
@import './base/AppAlert';

@font-face {
  font-family: 'YS Text Regular Regular';
  src: url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot');
  src: url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.svg#YS Text Regular Regular')
      format('svg');
}

$mainColor: #ff8e6e;
$whiteColor: #ffffff;
$anotherWhiteColor: #f6f6f6;
$lightOrangeColor: #ffbb91;
$darkBlueColor: #515070;
$greyColor: #a49a9a;
$blackColor: #000000;

$font-main: YS Text Regular Regular, Arial, Helvetica, sans-serif;
.v-menu .v-overlay__content {
  top: 76px !important;
  left: 378px !important;
  flex-direction: row;
  .cardStyle {
    max-height: 304px;
    height: auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
  }
  .v-list-item-title {
    color: $greyColor;
    font: 13px $font-main;
    font-weight: 500;
    text-transform: inherit;
    letter-spacing: 0;
  }
  .v-list-item:hover .v-list-item-title {
    color: $darkBlueColor;
    font-weight: 600;
  }
  .v-ripple__container {
    display: none;
  }
  .v-list-item {
    min-height: 30px;
  }
  .v-list-subheader__text {
    font: 15px $font-main;
    color: $darkBlueColor;
    font-weight: 600;
    text-transform: inherit;
    letter-spacing: 0;
  }
  .v-list {
    padding: 8px 8px;
  }
}
.header {
  background-color: $whiteColor;
  .header2 {
    display: flex;
    width: 1100px;
    height: 70px;
    align-items: center;
    margin: auto;
  }
  .menubtn {
    font: 15px $font-main;
    font-weight: 400;
    text-transform: inherit;
    color: $darkBlueColor !important;
    box-shadow: none;
    letter-spacing: 0;
    padding: 0px 12px;
    .v-btn__overlay,
    .v-btn__content {
      background-color: $whiteColor;
    }
    .v-btn__content:hover {
      opacity: 0.5;
      transition: transform, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .search {
    margin-left: auto;
    padding: 0px 12px;
    color: $darkBlueColor !important;
    display: flex;
    justify-content: flex-end;
    .v-field {
      box-shadow: none;
      font: 13px $font-main !important;
      .v-field__input {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        min-height: 36px !important;
      }
      .v-field__field {
        transition-duration: 450ms;
        transition-property: width;
        width: 450px;
        color: $darkBlueColor;
      }
      .v-field__overlay {
        color: $greyColor;
        transition: 450ms;
      }
      .v-field__loader {
        color: $mainColor;
      }
      .v-field__clearable {
        color: $darkBlueColor;
      }
      .v-field__append-inner i {
        color: $mainColor;
      }
      .v-field__append-inner i:hover,
      .v-field__clearable:hover {
        opacity: 0.9;
      }
      ::placeholder {
        color: $blackColor;
      }
    }
    .v-field--center-affix .v-field__append-inner,
    .v-field--center-affix .v-field__clearable {
      padding-top: 4px !important;
    }
    .v-field__clearable {
      margin-inline-end: 10px;
    }
  }
  .hide {
    .v-field__field {
      width: 0px !important;
      color: $whiteColor;
    }
    .v-field__overlay {
      color: $whiteColor !important;
    }
    .v-field__loader {
      color: $lightOrangeColor;
    }
    .v-field__clearable {
      display: none;
    }
    .v-field__append-inner i {
      color: $mainColor;
    }
  }
  .person {
    font-weight: 500;
    text-transform: inherit;
    font: 15px $font-main;
    color: $darkBlueColor !important;
    box-shadow: none;
    letter-spacing: 0;
    padding: 0px 12px;
    margin-left: auto;
    .v-ripple__container {
      color: $mainColor;
    }
  }
}
.body {
  background-color: $anotherWhiteColor;
  height: 900px;
}
.v-tooltip .v-overlay__content {
  right: 553px !important;
  top: 56px !important;
  font: 13px $font-main;
  color: $anotherWhiteColor;
  background-color: $darkBlueColor;
  left: auto !important;
}
.logo {
  display: contents;
  font: 21px $font-main;
  color: $darkBlueColor;
  font-weight: 700;
  img {
    width: 40px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
  }
}
